<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoアプリ</title>
</head>
<body>
<header>
    <h1 class="title">タスク一覧</h1>
</header>
<div class="container">
    <main>
        <div>
            <h2>タスク名</h2>
        </div>
        <div>
            <% @tasks.each do |task| %>
                <div class="main-child">
                    <p><%= task.title %></p>
                    <div>
                        <p><%= link_to '編集', edit_task_path(task) %>
                            <%= link_to '削除', task_path(task), method: :delete %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </main>
</div>
<div class="container">   
    <div class="add">
        <%= link_to '追加', new_task_path %>
    </div>

</div>
</body>
</html>